@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {
  .container {
    @apply max-w-[1280px] xl:max-w-[1024px] lg:max-w-[768px] md:max-w-[640px] sm:max-w-[440px];
  }
}*/

@layer base {
  .container {
      @apply max-w-[1535px] xl:max-w-[1279px] lg:max-w-[1023px] md:max-w-[767px] sm:max-w-[639px];
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 26, 66, 115; 
    /* Faculty AI red 231,
      61,
      85 */
    /* --background-start-rgb: 0, 0, 0; */
    --background-start-rgb: 218, 218, 218;
    /* --background-end-rgb: 0, 0, 0; */
    --background-end-rgb: 168, 168, 168;
  }
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.dark {
  /* Stile für Dark Mode */
  background-color: #1a202c;
  color: #ffffff;
}


